<mat-card class="synopsis-card">
    <mat-card-content class="synopsis-card-img">
        <img src="{{ data.ImagePath }}" style="height: 250px;" />
    </mat-card-content>
    <mat-card-title class="synopsis-card-title">{{ data.Title }}</mat-card-title>
    <br />
    <mat-card-content class="synopsis-card-content">{{ data.Description }}</mat-card-content>
    <mat-card-actions class="synopsis-actions">
        <button
        class="synopsis-close-button"
        mat-stroked-button
        aria-label="Close the movie details button"
        mat-dialog-close
        color="primary"
        >
            X
        </button>
    </mat-card-actions>
</mat-card>
